<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masterdetail">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ArticuloListActivity"
            android:label="@string/title_articulo_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArticuloDetailActivity"
            android:label="@string/title_articulo_detail"
            android:parentActivityName=".ArticuloListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.masterdetail.ArticuloListActivity" />
        </activity>
        <activity
            android:name=".ActivityDetalleArticulo"
            android:label="@string/title_activity_detalle_articulo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityListaArticulos"
            android:label="@string/title_activity_lista_articulos"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>